/* start custom scss snippet */
.brand_logo svg {
    display: block;
    height: auto;
    width: 100px;
    margin-right: 20px;
  }

.scroll-container {
  position: relative;
  height: 30vh;
  overflow: hidden;
}

.carousel-primary,
.carousel-secondary {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-primary {
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 20s linear infinite;
}

.carousel-secondary {
  animation: scroll-horizontal 20s linear infinite;
  animation-delay: 10s;
}

.carousel-primary img,
.carousel-secondary img {
  height: 30px;
  width: auto;
  margin-left: 10px;
}

@keyframes scroll-horizontal {
  0% {
    left: 100%;
  }

  100% {
    left: -100%
  }
}
/* end custom scss snippet */
