/* start custom scss snippet */
.brand_logo svg {
    display: block;
    height: auto;
    width: 100px;
    margin-right: 20px;
  }

.scroll-container {
  height: 10vh;
}

.carousel-primary,
.carousel-secondary {
  top: 26%;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.carousel-primary img {
  width: 300px;
  margin-left: 10px;
}

.carousel-primary {
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 20s linear infinite;
}

.carousel-secondary {
  animation: scroll-horizontal 20s linear infinite;
  animation-delay: 10s;
}

@keyframes scroll-horizontal {
  0% {
    left: 100%;
  }

  100% {
    left: -100%
  }
}
/* end custom scss snippet */
