/* start custom scss snippet */
.brand_logo svg {
    display: block;
    height: auto;
    width: 100px;
    margin-right: 20px;
}

.crop_image--cover {
  width: 100%;
  height: 74vh;
  object-fit: cover;
}

.scroll-container {
  position: relative;
  height: 14vh;
  overflow: hidden;
  background-color: #D3D3D3;
}

.marquee {
  display: flex;
  align-items: center;      /* Vertically center the logos */
  white-space: nowrap;      /* Keep logos on one line */
  /* The container's width will naturally fit the logos, and duplicating them means there’s always something visible */
  animation: marquee-scroll 20s linear infinite;
}

.marquee img {
  height: 10vh;
  width: auto;
  margin: 0 5px;  /* Adjust horizontal spacing as needed */
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* end custom scss snippet */
